{% extends 'base.html' %}
{% load static %}

{% block title %}Withdraw Money{% endblock %}

{% block extra_css %}
    <!-- Include any additional CSS files -->
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Withdraw Money</h1>

        <!-- Display messages -->
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label for="amount">Amount to Withdraw:</label>
            <input type="number" id="amount" name="amount" required>
            <button type="submit">Withdraw</button>
        </form>
        <a href="{% url 'dashboard' %}"> <!-- Link to dashboard -->
            <button type="button">Return to Dashboard</button>
        </a>
    </div>

    <script>
        // Hide messages after 2 seconds
        setTimeout(function() {
            var messages = document.getElementById('messages');
            if (messages) {
                messages.style.display = 'none';
            }
        }, 2000);
    </script>

{% endblock %}
