<!-- templates/auth/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<h1>Set New Password</h1>

<form action="{% url 'password_reset_confirm' user_id=user.id %}" method="post">
    {% csrf_token %}

    <input type="password" name="new_password1" placeholder="Enter new password" required><br><br>
    <input type="password" name="new_password2" placeholder="Confirm new password" required><br><br>

    <button type="submit">Set New Password</button>
</form>

<a href="{% url 'base' %}">
    <button type="button">Return to Home</button>
</a>

{% endblock %}
